<div class="container">
  <br>
  <br>
  <br>
  <h1>Your stay at <%= @booking.sauna.title %></h1>
    <p>Price $<%= @booking.sauna.price %></p>
    <p><%= @booking.sauna.description %></p>
    <p>from: <%= @booking.start_date %></p>
    <p>to: <%= @booking.end_date %></p>
    <p>number of days: <%= (@booking.end_date - @booking.start_date).to_i %></p>
    <p>Total price $<%= @booking.total_price %></p>
    <br>
    <%= link_to 'Back', saunas_path, class: "btn btn-back" %>
</div>

