<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('background.jpg') %>);">
    <div class="banner-content">
      <h1>Saunas, anywhere</h1>
      <%= render 'saunas/search_form'%>
    </div>
</div>

    <h2>Explore all Saunas</h2>
<div class="main-container-home">
      <div class="cards-home">
      <% @saunas.each do |s| %>
          <div class="property card listing">
            <div class="card-img-top">
              <%= cl_image_tag s.photo %>
            </div>
          <div class="card-block">
            <div class="card-block-container">
              <h4 class="card-title" title="Sauna title"><%= link_to s.title, sauna_path(s) %></h4>
              <a class="card-heart js-login" href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a>
            </div>
            <p class="card-location">
              <%= s.address %>
            </p>
            <div class="card-icon">
              <span class="icon"><i class="fa fa-exp"></i><%= s.sq_meter%>m<sup>2</sup></span>
              <span class="icon"><i aria-hidden="true" class="fa fa-user"></i> <%= s.capacity %></span>
              <div class="icon-cost"><span class="from">From</span><div class="cost">$<%= s.price %>div><div class="period">per night</div></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

