<br><br><br><br><br><br>
<h1>My Saunas</h1>
<hr>
    <% if @my_saunas.present? %>
      <br>
      <% @my_saunas.each do |sauna| %>
        <div class="db-image">
          <%= cl_image_tag sauna.photo %>
        </div>
        <br>
        <%= sauna.title %>
        <br>
        <%= sauna.description %>
        <br>
        <%= sauna.price %>
        <br>
        <%= link_to 'Edit', edit_sauna_path(sauna) %>
        <br>
        <%= link_to 'Delete', sauna_path(sauna), method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
        <% if sauna.bookings.present? %>
        <% sauna.bookings.order(:end_date).each do |booking| %>
          <%= booking.user_id %>
          <%= booking.start_date %>
          <%= booking.end_date %>
          <%= booking.total_price %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <br>


<% if current_user.bookings.present? %>
  My bookings as a guest:
  <% current_user.bookings.order(:end_date).each do |booking| %>
      <%= booking.sauna_id %>
      <%= booking.start_date %>
      <%= booking.end_date %>
      <%= booking.total_price %>
  <% end %>
<% end %>
<br>
<div>
<%= link_to 'Back', saunas_path, class: "btn btn-back" %>
</div>







