<h1><%= @sauna.name %></h1>
<p><%= link_to "Back to Saunas", saunas_path %></p>
<% @saunas.description.each do |s|  %>
<ul>
  <li><%= s.description.name%></li>
  <li><%= s.description.name%></li>
</ul>
<%= link_to  "delete", sauna_path(:id), method: :delete, data: {confirm: 'Sure you want to delete?'}, class: 'btn btn-danger' %>
<% end %>
</div>

<%= link_to "add description", new_sauna_description_path(@sauna), class: 'btn btn-caution'%>
<div class="col-2">
  <div class="card">
    <% if @sauna.img_url.nil? %>
    <%#= image_tag @sauana.img_url, height: 200, width:200 %>
    <% else %>
    <%= image_tag @sauna.img_url, height: 200, width:200 %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', saunas_path, class: 'btn btn-caution' %>
