<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @sauna.photo %>);">
</div>

<div class="show-container">
  <div class="show-box-1">
    <h1><%= @sauna.description %></h1>
    <p><%= @sauna.address %></p>
    <p><i class="fas fa-user-friends"></i><%= @sauna.capacity %></p>
  </div>
  <div class="show-box-2">
    <div class="show-form">
      <%= @sauna.price %>
      <%= render "bookings/form" %>
  </div>
</div>

