<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @sauna.photo %>);">
</div>

<div class="show-container">

  <div class="show-box-1">
    <h1><%= @sauna.title %></h1>
    <p><%= @sauna.address %></p>
    <p><i class="fas fa-hot-tub"></i><strong> Private Sauna</strong></p>
    <p></i><%= @sauna.capacity %> guests </p>
    <p><i class="fas fa-car"></i><strong> Self Pick-Up</strong></p>
    <p>Your car must have a hitch</p>
    <p><i class="fas fa-solar-panel"></i> <strong> Solar Powered </strong></p>
    <p>This sauna is environmentally friendly!</p>
    <p><i class="fas fa-star"></i><strong> 5 star rating </strong></p>
    <p> All saunas have been inspected by us</p>
  </div>

    <div class="show-box-2">
      <div class="show-form">
      <h4><i class="fas fa-dollar-sign"></i> <%= @sauna.price %> /night</h4>
      <%= render "bookings/form" %>
      </div>
    </div>

  <div class="show-box-3">
    <h5>About the sauna</h5>
    <p><%= @sauna.description %></p>
  </div>

</div>




